body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.backgroundcolor {
    background: linear-gradient(darkslategrey 0%, black 40%),
    linear-gradient(to right, darkslategrey 0%,  lightslategrey 100%);
    background-blend-mode: screen, difference, lighten;
}


#left {
  width: 16%;
  height: 100%;
  position: fixed;
  background-color: LightGrey;
}
#right {
  width: 85%;
  height: auto;
  position: absolute;
  right: 0;
}